<h1>Flows</h1>
<hr />
<%= @flows.count %>
<hr />

<% @flows.each do |flow| %>
  <div>
    <h3><%= flow.name %></h3>
    <p><%= flow.id %></p>
    <ul>
      <% flow.current_steps.each do |step| %>
      <li><%= step.name %><%= step.position %></li>
      <% end %>
    </ul>
  </div>
<% end %>
