<h1>New Flow</h1>

<%= form_tag flows_path, method: :post do %>

  <p><%= text_field_tag :name, nil, placeholder: "Name" %></p>
  <p><%= text_field_tag :color, nil, placeholder: "Color" %></p>
  <p><%= text_field_tag :size, nil, placeholder: "size" %></p>

  <p><%= select_tag :step_version_ids, options_from_collection_for_select(@step_versions, :id, :name), multiple: true %></p>

  <%= submit_tag %>
<% end %>
