<h1>New Flow</h1>

<%= form_for @flow, html: {class: ""} do |f| %>

  <p><%= f.text_field :name, placeholder: "Name" %></p>
  <p><%= f.text_field :color, placeholder: "Color" %></p>
  <p><%= f.text_field :size, placeholder: "size" %></p>

  <p><%= f.select :step_ids, options_from_collection_for_select(Step.all, :id, :name), {}, {multiple: true}  %></p>

  <%= f.submit 'Submit' %>
<% end %>
